/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
/* line 8, ../../app/_scss/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 13, ../../app/_scss/main.scss */
html, body {
  height: 100%;
}

/* line 15, ../../app/_scss/main.scss */
body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

/* line 22, ../../app/_scss/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 25, ../../app/_scss/main.scss */
h1 {
  margin-bottom: 1em;
}

/* line 26, ../../app/_scss/main.scss */
p {
  margin: 1em 0;
}

/* line 28, ../../app/_scss/main.scss */
a {
  color: #00a;
}

/* line 29, ../../app/_scss/main.scss */
a:hover {
  color: #000;
}

/* line 30, ../../app/_scss/main.scss */
a:visited {
  color: #a0a;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/* line 37, ../../app/_scss/main.scss */
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

/* line 42, ../../app/_scss/main.scss */
ul.posts li {
  line-height: 1.75em;
}

/* line 46, ../../app/_scss/main.scss */
ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
/* line 58, ../../app/_scss/main.scss */
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

/* line 66, ../../app/_scss/main.scss */
.site .header a {
  font-weight: bold;
  text-decoration: none;
}

/* line 71, ../../app/_scss/main.scss */
.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

/* line 76, ../../app/_scss/main.scss */
.site .header h1.title a {
  color: #a00;
}

/* line 80, ../../app/_scss/main.scss */
.site .header h1.title a:hover {
  color: #000;
}

/* line 84, ../../app/_scss/main.scss */
.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

/* line 89, ../../app/_scss/main.scss */
.site .header a.extra:hover {
  color: #000;
}

/* line 93, ../../app/_scss/main.scss */
.site .meta {
  color: #aaa;
}

/* line 97, ../../app/_scss/main.scss */
.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

/* line 105, ../../app/_scss/main.scss */
.site .footer .contact {
  float: left;
  margin-right: 3em;
}

/* line 110, ../../app/_scss/main.scss */
.site .footer .contact a {
  color: #8085C1;
}

/* line 114, ../../app/_scss/main.scss */
.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

/* line 120, ../../app/_scss/main.scss */
.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
/* line 131, ../../app/_scss/main.scss */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

/* line 137, ../../app/_scss/main.scss */
.post ul, .post ol {
  margin-left: 1.35em;
}

/* line 141, ../../app/_scss/main.scss */
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

/* line 147, ../../app/_scss/main.scss */
.post pre code {
  border: none;
}

/* terminal */
/* line 152, ../../app/_scss/main.scss */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

/* line 158, ../../app/_scss/main.scss */
.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* CDL Chart.
/*
/*****************************************************************************/
/* line 168, ../../app/_scss/main.scss */
.background {
  fill: none;
  pointer-events: all;
}

/* line 173, ../../app/_scss/main.scss */
.node {
  cursor: pointer;
}

/* line 179, ../../app/_scss/main.scss */
.area {
  background-color: transparent;
  font: 0px Arial;
}
/* line 183, ../../app/_scss/main.scss */
.area .titles {
  font-size: 5px;
}
/* line 186, ../../app/_scss/main.scss */
.area .no-title {
  font-size: 0px;
  color: transparent;
}
/* line 190, ../../app/_scss/main.scss */
.area .root-title {
  font-size: 15px;
  color: red;
}
/* line 194, ../../app/_scss/main.scss */
.area .default {
  font-size: 19px;
  color: #000000;
}
