---
layout: page
<%= yaml %>
---
<div class="wrapper">
  <div>
    <div><a href="{{ BASE_PATH }}/#/{{ page.guid }}">Home</a></div>
    <div>
      {% if page.siblings %}
      <ul>
        {% for sibling in page.siblings %}
        <li>
          <a href="{{ BASE_PATH }}/#{{ sibling.guid }}">{{ sibling.chronologicalName }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif%}
    </div>
  </div>

  <h1>{{ page.name }}</h1>

  {{ page.data }}

  {% if page.attachments.images != empty %}
    {% for attachment in page.attachments.images %}
      <img src="../{{ attachment.src }}" alt="{{ attachment.name }}"/>
    {% endfor %}
  {% endif %}

  {% if page.attachments.media != empty %}
    {% for attachment in page.attachments.media %}
      <audio src="../{{ attachment.src }}" controls></audio>
    {% endfor %}
  {% endif %}

  {% if page.attachments.pages != empty %}
    {% for attachment in page.attachments.pages %}
      <a href="{{ attachment.src }}" target="_blank">{{ attachment.name }}</a>
    {% endfor %}
  {% endif %}

  {% if page.attachments.youtube != empty %}
    {% for attachment in page.attachments.youtube %}
      <iframe width="560" height="315" src="//www.youtube.com/embed/{{ attachment.id }}" frameborder="0" allowfullscreen></iframe>
    {% endfor %}
  {% endif %}

  <div class="sidebar-wrapper">
    {% if page.siblings != empty %}
    <h2>Chronological</h2>
    <ul>
      {% for sibling in page.siblings %}
      <li>
        <h3 id="{{ sibling.guid }}">{{ sibling.chronologicalName }}</h3>
        {{ sibling.data }}

        {% if sibling.attachments.images != empty %}
          {% for attachment in sibling.attachments.images %}
            <img src="../{{ attachment.src }}" alt="{{ attachment.name }}"/>
          {% endfor %}
        {% endif %}

        {% if sibling.attachments.media != empty %}
          {% for attachment in sibling.attachments.media %}
            <audio src="../{{ attachment.src }}" controls></audio>
          {% endfor %}
        {% endif %}

        {% if sibling.attachments.pages != empty %}
          {% for attachment in sibling.attachments.pages %}
            <a href="{{ attachment.src }}" target="_blank">{{ attachment.name }}</a>
          {% endfor %}
        {% endif %}

        {% if sibling.attachments.youtube != empty %}
          {% for attachment in sibling.attachments.youtube %}
            <iframe width="560" height="315" src="//www.youtube.com/embed/{{ attachment.id }}" frameborder="0" allowfullscreen></iframe>
          {% endfor %}
        {% endif %}

      </li>
      {% endfor %}
    </ul>
    {% endif%}
  </div>
</div>