---
layout: page
<%= yaml %>
---
{% include JB/setup %}
<div id="{{ page.guid }}"  class="cdl">
  <div id="wrapper-content" class="clearfix">
    <div class="home-icon">
      <a href="{{ BASE_PATH }}/#/{{ page.guid }}" alt="Home"><img class="img-responsive" src="{{ BASE_PATH }}/images/home.png"/></a>
    </div>
    <div id="content">
      <div class="node clearfix">
        <div class=" node-title ">
          <div class="text-title">
            <div class="inner-text-title">
              {{ page.name }}
            </div>
          </div>
        </div>
        <div class=" node-content ">
          {{ page.data }}
        </div>
        {% if page.attachments.images != empty %}
          {% assign totalImages = 0 %}
          {% assign count = 1 %}
          {% assign box = 1 %}
          {% assign boxImages = 0 %}

          {% for attachment in page.attachments.images %}
            {% if forloop.index0 == 0 %}
              {% assign totalImages = forloop.length %}
            {% endif %}
          {% endfor %}

          {% if totalImages > 4 %}
            {% assign boxImages = 4 %}
          {% else %}
            {% assign boxImages = totalImages %}
          {% endif %}

          {% for attachment in page.attachments.images %}
            {% if forloop.index0 < 4 %}
              {% if forloop.first %}
              <div class="flex box-wrapper-{{ totalImages }}">
              {% endif %}


              {% if count == 1 %}
              <div class="box box-{{ box }}">
              {% endif %}

                <div class="item item-{{ forloop.index }}">
                  <a class="data-gallery-0" href="{{ BASE_PATH }}/pages/{{ attachment.src }}" title="{{ attachment.name }}" data-gallery="data-gallery-0">
                    <img class="images-{{ forloop.index }}" src="{{ BASE_PATH }}/pages/{{ attachment.src }}" alt="{{ attachment.name }}"/>
                  </a>
                </div>

              {% if count == 2 %}
              </div>
              {% endif %}

              {% if count == 2 %}
                {% assign count = 0 %}
                {% assign box=box | plus:1 %}
              {% endif %}

              {% assign count=count | plus:1 %}

              {% if forloop.last %}
              </div>
              {% endif %}
            {% else %}
              <div class="box box-extra">

                <div class="item item-{{ forloop.index }} hidden">
                  <a class="data-gallery-0" href="{{ BASE_PATH }}/pages/{{ attachment.src }}" title="{{ attachment.name }}" data-gallery="data-gallery-0">
                    <img class="images-{{ forloop.index }}" src="{{ BASE_PATH }}/pages/{{ attachment.src }}" alt="{{ attachment.name }}"/>
                  </a>
                </div>

              </div>
             {% endif %}

          {% endfor %}

          {% if totalImages > 4 %}
            <div data-id="0" class="button-more">More...</div>
          {% endif %}

        {% endif %}

        {% if page.attachments.media != empty %}
          {% for attachment in page.attachments.media %}
          <div>
            <audio src="{{ BASE_PATH }}/pages/{{ attachment.src }}" controls></audio>
          </div>
          {% endfor %}
        {% endif %}

        {% if page.attachments.pages != empty %}
          {% for attachment in page.attachments.pages %}
          <div>
            <a href="{{ attachment.src }}" target="_blank">{{ attachment.name }}</a>
          </div>
          {% endfor %}
        {% endif %}

        {% if page.attachments.youtube != empty %}
          {% for attachment in page.attachments.youtube %}
          <div>
            <iframe  width="560" height="315" src="//www.youtube.com/embed/{{ attachment.id }}" frameborder="0" allowfullscreen></iframe>
          </div>
          {% endfor %}
        {% endif %}

        <div class="chronological">
          {% if page.siblings != empty %}

          <ul>
            {% for sibling in page.siblings %}
              {% assign galleryIndex = forloop.index %}
            <li>
              <div id="{{ sibling.guid }}" class="chronological-title ">{{ sibling.chronologicalName | upcase }}</div>
              <div class=" chronological-content node-content ">
                {{ sibling.data }}

              {% if sibling.attachments.images != empty %}
                {% assign totalImages = 0 %}
                {% assign boxImages = 0 %}

                {% for attachment in sibling.attachments.images %}
                  {% if forloop.index0 == 0 %}
                    {% assign totalImages = forloop.length %}
                  {% endif %}
                {% endfor %}

                {% if totalImages > 4 %}
                  {% assign boxImages = 4 %}
                {% else %}
                  {% assign boxImages = totalImages %}
                {% endif %}

                <div class="flex box-wrapper-{{ boxImages }}">
                {% assign count = 1 %}
                {% assign box = 1 %}

                {% for attachment in sibling.attachments.images %}

                  {% if forloop.index0 < 4 %}

                    {% if count == 1 %}
                    <div class="box box-{{ box }}">
                    {% endif %}

                      <div class="item item-{{ forloop.index }}">
                        <a class="data-gallery-{{ galleryIndex }}" href="{{ BASE_PATH }}/pages/{{ attachment.src }}" title="{{ attachment.name }}" data-gallery="#data-gallery-{{ galleryIndex }}">
                          <img class="images-{{ forloop.index }}" src="{{ BASE_PATH }}/pages/{{ attachment.src }}" alt="{{ attachment.name }}"/>
                        </a>
                      </div>

                    {% if count == 2 %}
                    </div>
                    {% endif %}

                    {% if count == 2 %}
                      {% assign count = 0 %}
                      {% assign box=box | plus:1 %}
                    {% endif %}

                    {% assign count=count | plus:1 %}

                  {% else %}
                  <div class="box box-extra">

                    <div class="item item-{{ forloop.index }} hidden">
                      <a class="data-gallery-{{ galleryIndex }}" href="{{ BASE_PATH }}/pages/{{ attachment.src }}" title="{{ attachment.name }}" data-gallery="data-gallery-{{ galleryIndex }}">
                        <img class="images-{{ forloop.index }}" src="{{ BASE_PATH }}/pages/{{ attachment.src }}" alt="{{ attachment.name }}"/>
                      </a>
                    </div>

                  </div>

                  {% endif %}

                {% endfor %}
                </div>

                {% if totalImages > 4 %}
                  <div data-id="{{ galleryIndex }}" class="button-more">More...</div>
                {% endif %}


              {% endif %}

              {% if sibling.attachments.media != empty %}
              {% for attachment in sibling.attachments.media %}
              <div>
                <audio src="{{ BASE_PATH }}/pages/{{ attachment.src }}" controls></audio>
              </div>
              {% endfor %}
              {% endif %}

              {% if sibling.attachments.pages != empty %}
              {% for attachment in sibling.attachments.pages %}
              <div>
                <a href="{{ attachment.src }}" target="_blank">{{ attachment.name }}</a>
              </div>
              {% endfor %}
              {% endif %}

              {% if sibling.attachments.youtube != empty %}
              {% for attachment in sibling.attachments.youtube %}
              <div>
                <iframe  width="560" height="315" src="//www.youtube.com/embed/{{ attachment.id }}" frameborder="0" allowfullscreen></iframe>
              </div>
              {% endfor %}
              {% endif %}

              </div>

            </li>
            {% endfor %}
          </ul>
          {% endif%}
        </div>
      </div>
      <div class="footer-line clearfix"></div>
    </div>
    <div id="menu">
      <div class="navigation">
        {% if page.siblings != empty %}
        <div class="navigation-title">
          <a href="#{{ page.guid }}">{{ page.name | upcase }}</a>
        </div>
        <div class="navigation-list">
          <ul class="nav nav-tabs">
            {% for sibling in page.siblings %}
            <li>
              <a href="#{{ sibling.guid }}">{{ sibling.chronologicalName | upcase }}</a>
              <div class="spot"></div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="navigation-map"><img class="img-responsive" src="{{ BASE_PATH }}/images/map.png" alt="map"/></div>
        {% endif%}
      </div>
      {% if page.siblings == empty %}
      <div id="menu-nodes">
        <div class="navigation">
          <div class="navigation-parent">
            {% if page.parent != empty %}
            <div class="navigation-list">
              <ul class="nav nav-tabs">
                <li>
                  <a href="{{ BASE_PATH }}/pages/{{ page.parent.guid }}">{{ page.parent.name | upcase }}</a>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
          <div class="navigation-children">
            {% if page.children != empty %}
            <div class="navigation-list">
              <ul class="nav nav-tabs">
                {% for child in page.children %}
                <li>
                  <a href="{{ BASE_PATH }}/pages/{{ child.guid }}">{{ child.name | upcase }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body next"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left prev">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
          </button>
          <button type="button" class="btn btn-primary next">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

